/*~
/*.log
/*.errlog
/*.bak
/.swp
/.*.swp
/.ilist
/stxxl-*.tar.gz
/stxxl-*.zip
/stxxl.mk
/mcstxxl.mk
/pmstxxl.mk
/stxxl_boost.mk
/mcstxxl_boost.mk
/pmstxxl_boost.mk
/stxxl.stamp
/mcstxxl.stamp
/pmstxxl.stamp
/stxxl_boost.stamp
/mcstxxl_boost.stamp
/pmstxxl_boost.stamp
/make.settings
/make.settings.local
/GNUmakefile
/.stxxl
/.buildbot-sourcedata
/make.settings.local.old
