
body { margin-right: 0em; margin-left: 0em; background-color:#ffffff}
body,table,td,th,div,.p,a {font-family:arial,sans-serif }

div,td{color:#000}
.f,.fl:link{color:#6f6f6f}
a:link,.w,a.w:link,.w a:link{color:#00c}
a:visited,.fl:visited{color:#551a8b}
a:active,.fl:active{color:#f00}
.t a:link,.t a:active,.t a:visited,.t{color:#ffffff}
.t{background-color:#3366cc}
.h{color:#3366cc;font-size:14px}
.i,.i:link{color:#a90a08}
.a,.a:link{color:#008000}
.z{display:none}
div.n {margin-top: 1ex}
.n a{color:#000}
.n .i{font-weight:bold}
.q a:visited,.q a:link,.q a:active,.q {text-decoration: none; color: #00c;}
.qh a:visited,.qh a:active,.qh a:link,.qh { color: #afafaf;}
.b{font-size: 12pt; color:#00c; font-weight:bold}
