from buildbot.buildslave import BuildSlave

linux64full = [ 'foo' ]
linux64 = [ 'foo', 'bar' ]
linux32 = [ 'foo' ]
windows = [ 'foo' ]

def protected_settings(c):
	c['slaves'] = [
		BuildSlave("foo", "fooBAR", max_builds=2),
		BuildSlave("bar", "FOObar", max_builds=2),
	]

	c['slavePortnum'] = 12345

	c['debugPassword'] = "foobar"
